.idea
backend/backend/__pycache__
backend/test
backend/db.sqlite3
backend/agent/__pycache__
backend/agent/migrations/__pycache__
backend/mcp/__pycache__
backend/utils/__pycache__
agent/.env
agent/__pycache__
agent/.venv
backend/config/config.yaml
agent/__pycache__/hello_pb2_grpc.cpython-313.pyc
agent/__pycache__/hello_pb2.cpython-313.pyc
